@model IEnumerable<User>
<head>
    <style type="text/css">

        form {
            width: auto;
            table-layout: auto;
        }
        table {
            table-layout: auto;
            display: table;
            border-collapse: collapse;
            box-sizing: border-box;
            text-indent: initial;
            border-spacing: 2px;
            border: 2px solid #56433D;
            width: 500px; 
        }
        td {
            border-top: 1px solid #56433D;
            border-right: 1px solid #56433D;
            padding: 8px;
            font-size: 15px;
            text-align: center;
            width: 20px;
        }

        td:first-child {
            text-align: left;
            width: 300px;
        }
    </style>
</head>


<h2>Users list</h2>

<table>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <form asp-action="EditUser" method="get">
                    <input type="hidden" name="id" value="@user.Id"/>
                    <button type="submit" class="btn-info btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form asp-action="DeleteUser" method="get">
                    <input type="hidden" name="id" value="@user.Id" />
                    <button type="submit" class="btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>


