@model Worker

    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <br/>
            <h4>Worker info:</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>

                <dt>Id:</dt>
                <dd>@Html.DisplayFor(model => model.Id)</dd>

                <dt>Rarity</dt>
                <dd>@Html.DisplayFor(model => model.Rarity)</dd>

                <dt>Salary</dt>
                <dd>@Html.DisplayFor(model => model.Salary)</dd>
            </dl>
        </div>
    </div>
