@model IEnumerable<Worker>;
@{
    ViewData["Title"] = "Get People Page";
}

<div class="text-center">

    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Name</td>
                    </tr>

                    <tr>
                        <td>Rarity</td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                    </tr>
                    <tr>

                        <td><img src="~/img/empty.png" alt=":D" width="200" height="200"></td>
                    </tr>
                </table>
            </td>
            @foreach (var mod in Model)
            {
                <td>
                    <table>
                        <tr>
                            <td>@mod.Name</td>
                        </tr>

                        <tr>
                            <td>@mod.Rarity</td>
                        </tr>

                        <tr>
                            <td>@mod.Salary</td>
                        </tr>

                        <tr>
                            <td>
                                @{
                                    var user = (User)ViewBag.User;
                                    var scr = @$"/Images/{user.Id}/{mod.Id}.jpg" ;
                                    <img src="@scr" alt="Can`t load image :D" width="100" height="100">
                                }
                            </td>
                        </tr>

                        <tr>
                            <form method="post">  
                                @{
                                    <td> <button asp-controller="Home" asp-action="Index"> Image </button> </td> 
                                }
                            </form>

                            </tr>

                    </table>
                </td>
            }
        </tr>
    </table>
</div>