@model (string Name, string Developer);
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1> 
    <h2 class="display-6">Developed by @Model.Developer</h2>
    <hr size="3" color="black" />
    <div class ="text-left">
	    <form method="get">
		    <button style="background-color: lightpink;"  asp-controller="Home" asp-action="Privacy"> Privacy </button>
            <button style="background-color: lightpink;"  asp-controller="Admin" asp-action="UsersList"> Admin </button>
        </form>
    </div>
</div>     
